<div>Images:</div>

<div>
  <div class="image" *ngFor="let image of images">
    <img (click)="onImageClick(image)" src={{image.thumbnailUrl}} title="{{image.title}}"/>
  </div>
</div>

<div (click)="onModalBackgroundClick" #modal id="modal" class="image-modal">
  <div class="image-modal-content">
    <img src={{currentImage.url}} title="{{currentImage.title}}"/>
  </div>
</div>

<div>
  <button (click)="nextClick()">Загрузить еще</button>

  <!--
  <button (click)="prevClick()" [disabled]="ifPrevActive">prev</button>
  <button (click)="nextClick()">next</button>
  -->
</div>
